```
Return orders placed in June 2015
```

In [17]:
USE Northwinds2022TSQLV7;

SELECT orderid, orderdate, customerid, employeeid
FROM Sales.[Order] 
WHERE MONTH(orderdate)='06' AND year(orderdate) = '2015';

orderid,orderdate,customerid,employeeid
10555,2015-06-02,71,6
10556,2015-06-03,73,2
10557,2015-06-03,44,9
10558,2015-06-04,4,1
10559,2015-06-05,7,6
10560,2015-06-06,25,8
10561,2015-06-06,24,2
10562,2015-06-09,66,1
10563,2015-06-10,67,2
10564,2015-06-10,65,4
10565,2015-06-11,51,8
10566,2015-06-12,7,9
10567,2015-06-12,37,1
10568,2015-06-13,29,3
10569,2015-06-16,65,5
10570,2015-06-17,51,3
10571,2015-06-17,20,8
10572,2015-06-18,5,3
10573,2015-06-19,3,7
10574,2015-06-19,82,4
10575,2015-06-20,52,5
10576,2015-06-23,80,3
10577,2015-06-23,82,9
10578,2015-06-24,11,4
10579,2015-06-25,45,1
10580,2015-06-26,56,4
10581,2015-06-26,21,3
10582,2015-06-27,6,3
10583,2015-06-30,87,2
10584,2015-06-30,7,4

```
Return orders placed on the last day of the month
```

In [18]:
USE Northwinds2022TSQLV7;

SELECT orderid, orderdate, customerid, employeeid 
FROM Sales.[Order] 
WHERE orderdate = EOMONTH(orderdate);

orderid,orderdate,customerid,employeeid
10269,2014-07-31,89,5
10317,2014-09-30,48,6
10343,2014-10-31,44,4
10399,2014-12-31,83,8
10432,2015-01-31,75,3
10460,2015-02-28,24,8
10461,2015-02-28,46,1
10490,2015-03-31,35,7
10491,2015-03-31,28,8
10522,2015-04-30,44,4
10583,2015-06-30,87,2
10584,2015-06-30,7,4
10616,2015-07-31,32,1
10617,2015-07-31,32,4
10686,2015-09-30,59,2
10687,2015-09-30,37,9
10725,2015-10-31,21,4
10806,2015-12-31,84,3
10807,2015-12-31,27,4
10987,2016-03-31,19,8
10988,2016-03-31,65,3
10989,2016-03-31,61,2
11060,2016-04-30,27,2
11061,2016-04-30,32,4
11062,2016-04-30,66,4
11063,2016-04-30,37,3

```
Return employees with last name containing the letter 'e' twice or more
```

In [19]:
USE Northwinds2022TSQLV7;

SELECT employeeid, employeefirstname, employeelastname
FROM HumanResources.Employee
WHERE employeelastname like '%[e]%[e]%';

employeeid,employeefirstname,employeelastname
4,Yael,Peled
5,Sven,Mortensen

```
Return orders with total value(qty*unitprice) greater than 10000
```

In [ ]:
USE Northwinds2022TSQLV7;

SELECT orderid, quantity * unitprice AS totalvalue 
FROM Sales.OrderDetail
WHERE quantity * unitprice > 10000
ORDER BY quantity * unitprice DESC;

```
Returns employees with a last name that starts with a lower case letter.
```

In [ ]:
USE Northwinds2022TSQLV7

SELECT employeeid, employeelastname
FROM HumanResources.Employee 
WHERE employeelastname like '^[a-z]%';

```
Explain the difference between the following two queries

```
```
In the first query, I am selecting the number of orders done by an employee prior to May 1st, 2016. The first query filters rows and then groups them by employeeid.
```
```
In the second query, I am selecting the number of orders only done by employees whose latest order date is prior to may 1st, 2016. The second query will group by employeeid and then the HAVING clause operates on the unique groups formed by grouping by employeeid. This takes place during the HAVING phase. 
```

<span class="c1" style="color: rgb(64, 128, 128); font-style: italic;"><br></span>

In [ ]:
USE Northwinds2022TSQLV7

--Query 1
SELECT employeeid, COUNT(*) AS numorders
FROM Sales.[Order]
WHERE orderdate < '20160501'
GROUP BY employeeid;

-- Query 2
SELECT employeeid, COUNT(*) AS numorders
FROM Sales.[Order]
GROUP BY employeeid
HAVING MAX(orderdate) < '20160501';

```
Return the three ship countries with the highest average freight for orders placed in 2015
```

In [ ]:
USE Northwinds2022TSQLV7

SELECT TOP 3 ShipToCountry, AVG(freight) AS avgfreight 
FROM Sales.[Order] 
WHERE  YEAR(orderdate) = 2015
GROUP BY ShipToCountry
ORDER BY AVG(freight) DESC;

```
Calculate row numbers for orders based on order date ordering (using order id as tiebreaker) for each customer separately
```

In [ ]:
USE Northwinds2022TSQLV7

SELECT customerid, orderdate, orderid, ROW_NUMBER() OVER(PARTITION BY customerid ORDER BY orderdate, orderid) AS rownum 
FROM Sales.[Order];

```
Return for each employee the gender based on the title of courtesy Ms., Mrs. - Female, Mr. - Male, Dr. - Unknown

```

In [ ]:
USE Northwinds2022TSQLV7

SELECT
	employeeid,
	employeefirstname,
	employeelastname,
	employeetitleofcourtesy,
	CASE   
		WHEN employeetitleofcourtesy = 'Ms.' THEN 'Female'
        WHEN employeetitleofcourtesy = 'Mrs.' THEN 'Female'
		WHEN employeetitleofcourtesy = 'Mr.' THEN 'Male'
		ELSE 'Unknown'
	END AS gender 
FROM HumanResources.Employee;

```
Return for each customer the customer ID and region, sort the rows in the output by region, having NULLs sort last (after non-NULL values)
```

In [ ]:
USE Northwinds2022TSQLV7

SELECT customerid, customerregion
FROM Sales.Customer
ORDER BY
	CASE
		WHEN customerregion IS NULL THEN 1
		WHEN customerregion IS NOT NULL THEN 0
	END,
	customerregion