```
Return orders placed in June 2015
```

In [ ]:
USE Northwinds2022TSQLV7;

SELECT orderid, orderdate, customerid, employeeid
FROM Sales.[Order] 
WHERE MONTH(orderdate)='06' AND year(orderdate) = '2015';

```
Return orders placed on the last day of the month
```

In [ ]:
USE Northwinds2022TSQLV7;

SELECT orderid, orderdate, customerid, employeeid 
FROM Sales.[Order] 
WHERE orderdate = EOMONTH(orderdate);

```
Return employees with last name containing the letter 'e' twice or more
```

In [ ]:
USE Northwinds2022TSQLV7;

SELECT employeeid, employeefirstname, employeelastname
FROM HumanResources.Employee
WHERE employeelastname like '%[e]%[e]%';

```
Return orders with total value(qty*unitprice) greater than 10000
```

In [ ]:
USE Northwinds2022TSQLV7;

SELECT orderid, quantity * unitprice AS totalvalue 
FROM Sales.OrderDetail
WHERE quantity * unitprice > 10000
ORDER BY quantity * unitprice DESC;

```
Returns employees with a last name that starts with a lower case letter.
```

In [ ]:
USE Northwinds2022TSQLV7

SELECT employeeid, employeelastname
FROM HumanResources.Employee 
WHERE employeelastname like '^[a-z]%';

```
Explain the difference between the following two queries

```
```
In the first query, I am selecting the number of orders done by an employee prior to May 1st, 2016. The first query filters rows and then groups them by employeeid.
```
```
In the second query, I am selecting the number of orders only done by employees whose latest order date is prior to may 1st, 2016. The second query will group by employeeid and then the HAVING clause operates on the unique groups formed by grouping by employeeid. This takes place during the HAVING phase. 
```

<span class="c1" style="color: rgb(64, 128, 128); font-style: italic;"><br></span>

In [ ]:
USE Northwinds2022TSQLV7

SELECT employeeid, COUNT(*) AS numorders
FROM Sales.[Order]
WHERE orderdate < '20160501'
GROUP BY employeeid;

-- Query 2
SELECT employeeid, COUNT(*) AS numorders
FROM Sales.[Order]
GROUP BY employeeid
HAVING MAX(orderdate) < '20160501';

```
Return the three ship countries with the highest average freight for orders placed in 2015
```

In [ ]:
USE Northwinds2022TSQLV7

SELECT TOP 3 shipcountry, AVG(freight) AS avgfreight 
FROM Sales.[Order] 
GROUP BY shipcountry 
ORDER BY AVG(freight) DESC;

```
Calculate row numbers for orders based on order date ordering (using order id as tiebreaker) for each customer separately
```

```
Figure out and return for each employee the gender based on the title of courtesy Ms., Mrs. - Female, Mr. - Male, Dr. - Unknown
```

```
Return for each customer the customer ID and region, sort the rows in the output by region, having NULLs sort last (after non-NULL values)
```