If the number of orders is greater than 1, then lists the year, employee id, and number of orders of customer with id = 71

In [ ]:
USE Northwinds2022TSQLV7;

SELECT employeeid, YEAR(orderdate) AS orderyear, COUNT(*) AS numorders
FROM Sales.[Order]
WHERE customerid = 71
GROUP BY employeeid, YEAR(orderdate)
HAVING COUNT(*) > 1
ORDER BY employeeid, orderyear;

Lists the <span style="color: rgb(33, 33, 33); font-family: Consolas, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre;">orderid, customerid, employeeid, orderdate, freight</span> of the sales order.

In [ ]:
USE Northwinds2022TSQLV7

SELECT Orderid, Customerid, Employeeid, OrderDate, Freight
FROM Sales.[Order];

Lists the order id, employee id, order date, and freight of customer with id = 71

In [ ]:
USE Northwinds2022TSQLV7

SELECT Orderid, employeeid, orderdate, freight
FROM Sales.[Order]
WHERE customerid = 71;

If customer with id=71, select the employeeid and year of order

In [ ]:
USE Northwinds2022TSQLV7

SELECT employeeid, YEAR(orderdate) AS orderyear
FROM Sales.[Order]
WHERE customerid = 71
GROUP BY employeeid, YEAR(orderdate);

If customer id = 71, select employeeid, order year, total freight and number of orders grouped by employee id and year of order.

In [ ]:
USE Northwinds2022TSQLV7

SELECT
  employeeid,
  YEAR(orderdate) AS orderyear,
  SUM(freight) AS totalfreight,
  COUNT(*) AS numorders
FROM Sales.[Order]
WHERE customerid = 71
GROUP BY employeeid, YEAR(orderdate);

In [ ]:
SELECT 
  empid, 
  YEAR(orderdate) AS orderyear, 
  COUNT(DISTINCT custid) AS numcusts
FROM Sales.Orders
GROUP BY empid, YEAR(orderdate);